/* Grundläggande reset och basstilar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    padding: 0px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Webbplatsens header */
.site-header {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/darkbg.png); /* Added overlay */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
}


.site-title {
    font-size: 4rem;
    color:#1aa518;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top:45vh;
}

/* Huvudnavigation */
.main-nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    top:80vh;
}

.main-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.main-nav ul li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}

.main-nav ul li a:hover {
    background-color: #1aa518;
}

/* Sektioner */
section {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 5% 20%; /* Adjusted padding for better mobile view */
}


/* Sektionstitlar */
section h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 35px;
}

.skills-section ul{
    list-style-type: none;
}

/* Projekt och blogginlägg */
.project, .blog-post {
    margin-bottom: 20px;
}

/* Kontaktformulär */
.contact-section form {
    max-width: 600px;
    margin: auto;
}

.contact-section label {
    display: block;
    margin-bottom: 5px;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-section input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-section input[type="submit"]:hover {
    background-color: #007bff;
}

/* Sidopanel och fot */
.sidebar, .site-footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.site-footer {
    margin-top: 20px;
}

/* Responsiv design */
@media (max-width: 767px) {
 /*   .site-title, .main-nav ul {
        top: 20px; /* Adjusted for better mobile alignment */

    section {
        padding: 20px; /* Makes sections look better on mobile */
    }

    .contact-section form {
        padding: 0 20px; /* Allows for padding on smaller screens */
    }
}



/*Styling for cheat sheets page*/
.html-cheat-sheet-headings h1 {
    font-size: 40px;
}
.html-cheat-sheet-headings h2 {
    border: none;
    padding: 0;
    margin:0;
    font-size: 35px;
}
.html-cheat-sheet-headings h3 {
    font-size: 30px;
}
.html-cheat-sheet-headings h4 {
    font-size: 25px;
}
.html-cheat-sheet-headings h5 {
    font-size: 20px;
}
.html-cheat-sheet-headings h6 {
    font-size: 15px;
}
.cheat-sheet-content {
    display: flex; /* Arrange elements horizontally */
  }
  
  .html-cheat-sheet-headings,
  .code-snippet {
    flex: 1; /* Make elements share available space equally */
    padding-top: 1rem; /* Add some padding for readability */
  }
  .code-snippet h4 {
    padding-left: 20%;
    margin-top: -5%;
    font-size: 25px
}
  

/*Styling for cheat sheets page*/